---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <article
    class="w-full p-8 max-w-4xl mx-auto bg-slate-200 dark:bg-slate-800 rounded prose dark:prose-invert"
  >
    <h1>{entry.data.title}</h1>
    <Content />
  </article>
</BaseLayout>
