---
import Layout from "@layouts/Layout.astro";
import { Post, PostData } from "@utils/posts";

const getPosts = async (): Promise<Post[]> => {
    const posts: PostData[] = await Astro.glob("./blog/*.md");
    return posts
        .map((post) => new Post(post))
        .sort((a, b) => b.date.getTime() - a.date.getTime());
};

const posts: Post[] = await getPosts();
---

<Layout title="Blog" description="My Blog" image="/edu.jpg">
    <div class="hero is-fullheight is-dark">
        <div class="hero-body">
            <div class="container">
                <p class="title">Blog</p>
                {
                    posts.map((post) => (
                        <a href={post.url}>
                            <div class="mb-5">
                                <p class="title is-4">{post.title}</p>
                                <p class="subtitle is-6 mb-0">
                                    {post.formattedDate}
                                </p>
                                <p>{post.description}</p>
                            </div>
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</Layout>
