---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";

const getPosts = async () => {
  const posts = await getCollection("posts");
  return posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
};

const posts = await getPosts();
---

<PageLayout>
  <h1 class="mb-4 text-4xl font-semibold">My Blog</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a
            href={`/blog/${post.slug}`}
            class="flex w-full justify-between text-lg hover:underline"
          >
            <span>{post.data.title}</span>
            <span class="font-semibold">
              {post.data.date.toLocaleDateString("pt-PT")}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</PageLayout>
