---
import Layout from "../layouts/Layout.astro";

const description = "Hey, I'm Eduardo, a Developer and Student. I love programming and I'm currently studying Computer Science and Engineering at Instituto Superior Técnico in Lisbon.";
---

<Layout description={description}>
    <div class="container">
        <figure class="image is-128x128">
            <img class="is-rounded" src="https://media-exp1.licdn.com/dms/image/C4E03AQHdo_prHFnf3A/profile-displayphoto-shrink_800_800/0/1650538057207?e=1663200000&v=beta&t=fhoaCJgXpEK95IQ-0lr18jo7QcQEXWZ79MKtuvJzWAo">
        </figure>
        
        <p class="title is-1">
            Hi, I'm Eduardo!
        </p>
        <p class="subtitle">
            I'm studying Computer Science and Engineering @ Instituto Superior Técnico in Lisbon.
        </p>
    </div>
</Layout>