---
import Layout from "../layouts/Layout.astro";

const description = "Hey, I'm Eduardo, a Developer and Student. I love programming and I'm currently studying Computer Science and Engineering at Instituto Superior Técnico in Lisbon.";
---

<Layout description={description}>
    <div class="hero is-fullheight is-dark">
        <div class="hero-body">
            <div class="container">
                <figure class="image is-128x128">
                    <img class="is-rounded"
                        src="/edu.jpg">
                </figure>

                <p class="title is-1">
                    Hi, I'm Eduardo!
                </p>
                <p class="subtitle">
                    I'm studying Computer Science and Engineering @ Instituto Superior Técnico in Lisbon.
                </p>
            </div>
        </div>
    </div>
</Layout>
