---
import Layout from "./Layout.astro";

export interface Props {
    frontmatter: {
        title: string;
        image?: string;
    };
}

const { frontmatter: { title, image } } = Astro.props as Props;
---

<Layout>
    <div class="hero is-dark">
        <div class="hero-head">
            {image && <figure class="image"><img src={image} alt={title}></figure>}
        </div>

        <div class="hero-body">
            <div class="container content is-max-desktop">
                <p class="title is-2">
                    {title}
                </p>

                <slot />
            </div>
        </div>
    </div>
</Layout>
